include ../_mixin/macrosMixin


section.feedback

    .container

        +mainTitle("feedback__title", "feedback")

        .feedback__row.clearfix
            .feedback_left
                .feedback__wrap
                    label(
                        for="input-0"
                        class="feedback__sub-title"
                    )!= "/ name"
                    .feedback__field
                        input(
                            type="text"
                            class="feedback__input"
                            name="name"
                            id="input-0"
                        )
                        span(
                            class="feedback__span"
                        )
                .feedback__wrap
                    label(
                        for="input-1"
                        class="feedback__sub-title"
                    )!= "/ e-mail"
                    .feedback__field
                        input(
                            type="text"
                            class="feedback__input"
                            name="name"
                            id="input-1"
                        )
                        span(
                            class="feedback__span"
                        )
                .feedback__wrap
                    label(
                        for="input-2"
                        class="feedback__sub-title"
                    )!= "/ company"
                    .feedback__field
                        input(
                            type="text"
                            class="feedback__input"
                            name="name"
                            id="input-2"
                        )
                        span(
                            class="feedback__span"
                        )
                .feedback__wrap
                    label(
                        for="input-3"
                        class="feedback__sub-title"
                    )!= "/ phone"
                    .feedback__field
                        input(
                            type="text"
                            class="feedback__input"
                            name="name"
                            id="input-3"
                        )
                        span(
                            class="feedback__span"
                        )

            .feedback_right
                .feedback__wrap
                    label(
                        for="input-4"
                        class="feedback__sub-title"
                    )!= "/ message"
                    textarea(
                        class="feedback__textarea"
                        name="message"
                        id="input-4"
                    )

        .feedback__row
            a(
                href="javascript:void(0);"
                title=""
                class="btn btn_more btn_feedback btn-feedback-js"
            )!= "START A PROJECT"