
section.footer

    .container.clearfix

        include _macros/_header/social

        img(
            src="./image/img-logotype.png"
            title=""
            alt=""
            class="logotype"
        )

        p.copyright!= "&copy; 2009 - 2016"

    img(
        src="./image/img-footer-bg.png"
        alt=""
        title=""
        class="img_responsive footer__img-bg"
    )
    img(
        src="./image/img-footer-line.png"
        alt=""
        title=""
        class="img_responsive footer__img-line"
    )
