-
    var headerTitle = "We turn data into</br>marketing results";
    var headerSubTitle = "Septa is a data-driven digital agency. We help brands collect,</br>organize and use data to improve their marketing performance."


mixin btnSquare(btnClass, iconClass)
    a(
        href="javascript:void(0);"
        title=""
        class="btn__square " + btnClass
    )
        span.btn__square-line.btn__square-line_top
        span.btn__square-line.btn__square-line_right
        span.btn__square-line.btn__square-line_bottom
        span.btn__square-line.btn__square-line_left
        i(class="btn__square-icon " + iconClass)


header.header#header


    //-+btnSquare("btn__square-0", "btn__square-icon-0")
    //-+btnSquare("btn__square-1", "btn__square-icon-1")
    //-+btnSquare("btn__square-2", "btn__square-icon-2")
    //-+btnSquare("btn__square-3", "btn__square-icon-3")


    .container-fluid.clearfix

        include _macros/_header/social

        img(
            src="./image/img-logotype.png"
            title=""
            alt=""
            class="logotype"
        )

        include _macros/_header/language

        +btnMenuBurger("btn__burger")

        include _macros/_header/nav

        .clearfix

        .header__row
            .container
                h1.header__title!= headerTitle

                h2.header__sub-title!= headerSubTitle


                a(
                    href="javascript:void(0);"
                    title=""
                    class="btn btn_header btn-start-js"
                )!= "START A PROJECT"


        a(
            href="#services"
            class="header__scroll"
        )
            span.header__scroll-line
            i.header__scroll-icon.animated.infinite.scroll
            p.header__scroll-text-wrap
                span.header__scroll-text!= "BEGIN"
                span.header__scroll-text!= "SCROLLING"


    include ./_macros/_header/graph


    img(
        src="./image/img-coordinate-axis.png"
        title=""
        alt=""
        class="header__сoordinate-axis img_responsive"
    )
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="header__dynamic"
    )

    svg(
        id="bg-header" data-name="bg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1921 516.2"
    )
        path(
            id="bg-header" class="bg bg-header" d="M0,369.7a433.4,433.4,0,0,1,46.7-18c15.6-5,33.6-10.7,57.3-14,16-2.2,37.4-5.2,64.7-1.3,31.7,4.5,56.3,16.2,71.3,23.3,11.2,5.3,14.2,7.6,33.3,16.7,20.8,9.8,31.4,14.8,43.3,18,18,4.8,32.1,4.7,46,4.7,7.6,0,29.2-.5,60.7-8,25.8-6.2,26.3-9.4,62-20.7,17-5.4,41.2-12.9,73.3-18.7a487.5,487.5,0,0,1,68-7.3c23.4-1.1,32.6,0,37.3.7,12.4,1.8,23.7,5,48,15.3s31,14.6,65.3,31.3c26.7,13,40.1,19.5,53.3,24.7A432.9,432.9,0,0,0,891.3,435a471.6,471.6,0,0,0,60.7,9.3c26.6,2.4,56.3,5.2,94.7,0a334.9,334.9,0,0,0,82.7-22c34.8-14.4,57.8-31.3,86.7-52.7,35.5-26.3,33.5-30.3,80-66.7,30.6-23.9,48.5-37.8,76-52.7,15-8.1,39.2-21,73.3-30.7,7.7-2.2,53.2-14.7,102.7-14,6.2.1,17.4.5,33.3-.7a304,304,0,0,0,46.7-6.7c24.6-5.7,49.8-11.4,74.7-30.7,17.1-13.2,37.3-35.3,42-47.3a38.4,38.4,0,0,1,7.3-12,33.3,33.3,0,0,1,10.7-8,31.9,31.9,0,0,1,13.3-2.7c6,.1,7.9,1.8,16.7,4,3.8.9,10.4,2.6,16.7,2.7,4.1,0,11.1-.6,22.7-6.7,8.1-4.2,17.5-10.6,34.7-28.7A404.2,404.2,0,0,0,1894,37c8-10.4,16.9-22.7,26-37V514H0Z" transform="translate(0.5 1.7)"
        )
