-
    var headerTitle = "We turn data into</br>marketing results";
    var headerSubTitle = "Septa is a data-driven digital agency. We help brands collect,</br>organize and use data to improve their marketing performance."


mixin btnSquare(btnClass, iconClass)
    a(
        href="javascript:void(0);"
        title=""
        class="btn__square " + btnClass
    )
        span.btn__square-line.btn__square-line_top
        span.btn__square-line.btn__square-line_right
        span.btn__square-line.btn__square-line_bottom
        span.btn__square-line.btn__square-line_left
        i(class="btn__square-icon " + iconClass)


header.header#header


    +btnSquare("btn__square-0", "btn__square-icon-0")
    +btnSquare("btn__square-1", "btn__square-icon-1")
    +btnSquare("btn__square-2", "btn__square-icon-2")
    +btnSquare("btn__square-3", "btn__square-icon-3")


    .container-fluid.clearfix

        include _macros/_header/social

        img(
            src="./image/img-logotype.png"
            title=""
            alt=""
            class="logotype"
        )

        include _macros/_header/language

        +btnMenuBurger("btn__burger")

        include _macros/_header/nav

        .clearfix

        .header__row
            .container
                h1.header__title!= headerTitle

                h2.header__sub-title!= headerSubTitle


                a(
                    href="javascript:void(0);"
                    title=""
                    class="btn btn_header btn-start-js"
                )!= "START A PROJECT"


        a(
            href="#services"
            class="header__scroll"
        )
            span.header__scroll-line
            i.header__scroll-icon.animated.infinite.scroll
            p.header__scroll-text-wrap
                span.header__scroll-text!= "BEGIN"
                span.header__scroll-text!= "SCROLLING"


    img(
        src="./image/img-coordinate-axis.png"
        title=""
        alt=""
        class="header__сoordinate-axis img_responsive"
    )
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="header__dynamic"
    )
    img(
        src="./image/img-graph.png"
        title=""
        alt=""
        class="header__graph img_responsive"
    )
    img(
        src="./image/img-graph-bg.png"
        title=""
        alt=""
        class="header__graph-bg img_responsive"
    )

