-
    var headerTitle = "We turn data into</br>marketing results";
    var headerSubTitle = "Septa is a data-driven digital agency. We help brands collect,</br>organize and use data to improve their marketing performance."


mixin btnSquare(btnClass, iconClass)
    a(
        href="javascript:void(0);"
        title=""
        class="btn__square " + btnClass
    )
        span.btn__square-line.btn__square-line_top
        span.btn__square-line.btn__square-line_right
        span.btn__square-line.btn__square-line_bottom
        span.btn__square-line.btn__square-line_left
        i(class="btn__square-icon " + iconClass)


header.header#header


    +btnSquare("btn__square-0", "btn__square-icon-0")
    +btnSquare("btn__square-1", "btn__square-icon-1")
    +btnSquare("btn__square-2", "btn__square-icon-2")
    +btnSquare("btn__square-3", "btn__square-icon-3")


    .container-fluid.clearfix

        include _macros/_header/social

        img(
            src="./image/img-logotype.png"
            title=""
            alt=""
            class="logotype"
        )

        include _macros/_header/language

        +btnMenuBurger("btn__burger")

        include _macros/_header/nav

        .clearfix

        .header__row
            .container
                h1.header__title!= headerTitle

                h2.header__sub-title!= headerSubTitle


                a(
                    href="javascript:void(0);"
                    title=""
                    class="btn btn_header btn-start-js"
                )!= "START A PROJECT"


        a(
            href="#services"
            class="header__scroll"
        )
            span.header__scroll-line
            i.header__scroll-icon.animated.infinite.scroll
            p.header__scroll-text-wrap
                span.header__scroll-text!= "BEGIN"
                span.header__scroll-text!= "SCROLLING"


    include ./_macros/_header/graph


    img(
        src="./image/img-coordinate-axis.png"
        title=""
        alt=""
        class="header__сoordinate-axis img_responsive"
    )
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="header__dynamic"
    )

    svg(id="bg-header" data-name="bg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1921 596.2")
        path(
            id="bg-header" class="bg bg-header" d="M0,370.3A462.8,462.8,0,0,1,52.7,351c13.1-3.9,29.7-8.8,52-12,13.4-1.9,23.7-2.5,28-2.7,7.8-.3,20.8-.9,34.7.7,17.6,2,30,6.7,45.3,12.7,21.3,8.2,22.4,11.2,57.3,27.3,29,13.4,38.6,16.2,42.7,17.3a186.7,186.7,0,0,0,42.7,6.7c19.2.7,33.1-2,50.7-5.3,19.9-3.8,34.5-8.4,56.7-15.3,27.5-8.7,25.4-9.4,45.3-15.3a479.9,479.9,0,0,1,65.3-14.7,469.9,469.9,0,0,1,48-4.7c16.8-.8,25.1-1.2,36,0,19.8,2.1,34.4,7.5,50,13.3,11.6,4.3,21.2,8.9,40,18,35.4,17,37.9,19.9,59.3,29.3,8.8,3.9,26.1,11.2,48.7,18.7A444.6,444.6,0,0,0,916,441a418.2,418.2,0,0,0,46,6,401.7,401.7,0,0,0,60,0,371.5,371.5,0,0,0,64.7-10.7,348.5,348.5,0,0,0,66.7-25.3c28-14,46.8-28.2,66-42.7,25.1-19,25.1-22.1,63.3-53.3,25.3-20.6,37.9-30.9,56.7-43.3,14.7-9.7,35.5-23.3,65.3-36,40.3-17.2,73.6-22.8,81.3-24,24.2-3.9,22.1-.6,81.3-5.3,44.7-3.5,57.5-6.3,64.7-8,19.7-4.7,39.7-9.6,62-24,14.8-9.5,33.6-21.6,42-39.3,4-8.3,6.9-12.4,12.7-20.7s8.2-10.5,12.7-12.7,11-2.7,14.7-2.7c1.5,0,4.2.1,16,2.7s12.1,3.1,15.3,3.3,9.8-.3,19.3-4.7c15.2-7,26-16.8,32-22.7,10.6-10.3,19.7-20.6,30.7-34.7,8.2-10.5,18.9-24.9,30.7-43V594H0Z" transform="translate(0.5 1.7)"
        )
