-
    var onlyText = "of marketers track all of their</br>marketing efforts in order to drive improvement.</br><strong>Are you among them?</strong>"


section.only
    .container
        p.only__text!= "Only"

        img(
            src="./image/img-only.png"
            title=""
            alt=""
            class="only__img img_responsive"
        )

        p.only__text!= onlyText

        a(
            href="javascript:void(0);"
            title=""
            class="btn btn_only btn-learn-js"
        )!= "LEARN WHY USING DATA IS CRUCIAL TO BUSINESS"

    //- top
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="only__dynamic img_responsive"
    )
    img(
        src="./image/img-only-top-bg.png"
        alt=""
        title=""
        class="img_responsive only__bg-top"
    )
    img(
        src="./image/img-only-graph.png"
        alt=""
        title=""
        class="img_responsive only__graph"
    )
    img(
        src="./image/img-only-graph-line.png"
        alt=""
        title=""
        class="img_responsive only__graph-line"
    )
    //- bottom
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="only__dynamic_bottom img_responsive"
    )
    img(
        src="./image/img-only-bg-bottom.png"
        alt=""
        title=""
        class="img_responsive only__bg-bottom"
    )
    img(
        src="./image/img-only-line-bottom.png"
        alt=""
        title=""
        class="img_responsive only__graph-line_bottom"
    )