-
    var onlyText = "of marketers track all of their</br>marketing efforts in order to drive improvement.</br><strong>Are you among them?</strong>"


section.only#only
    .container
        p.only__text!= "Only"


        .only__count
            img(
                src="./image/img-count-circle-0.png"
                title=""
                alt=""
                class="only__img only__img--0 animated infinite rotateRight"
            )
            img(
                src="./image/img-count-circle-1.png"
                title=""
                alt=""
                class="only__img only__img--1 animated infinite rotateLeft"
            )
            img(
                src="./image/img-count-circle-2.png"
                title=""
                alt=""
                class="only__img only__img--2 animated infinite rotate"
            )
            p(
                class="only__count-num"
            )
                span(
                    class="only__count--num"
                    data-from="0"
                    data-to="55"
                )!= "19"
                span!= "%"


        p.only__text!= onlyText

        a(
            href="javascript:void(0);"
            title=""
            class="btn btn_only btn-learn-js"
        )!= "LEARN WHY USING DATA IS CRUCIAL TO BUSINESS"

    //- top
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="only__dynamic"
    )
    img(
        src="./image/img-only-top-bg.png"
        alt=""
        title=""
        class="img_responsive only__bg-top"
    )
    img(
        src="./image/img-only-graph.png"
        alt=""
        title=""
        class="img_responsive only__graph"
    )
    img(
        src="./image/img-only-graph-line.png"
        alt=""
        title=""
        class="img_responsive only__graph-line"
    )
    //- bottom
    img(
        src="./image/img-dynamic.png"
        title=""
        alt=""
        class="only__dynamic_bottom"
    )
    img(
        src="./image/img-only-bg-bottom.png"
        alt=""
        title=""
        class="img_responsive only__bg-bottom"
    )
    img(
        src="./image/img-only-line-bottom.png"
        alt=""
        title=""
        class="img_responsive only__graph-line_bottom"
    )