include ../_mixin/macrosMixin


section.partner

    .container

        +mainTitle("partner__title", "our partner")

        .partner__row
            div(class="partner__carousel owl-carousel partner__carousel-0")
                -for(var i = 0; i < 5; i++)
                    img(
                        src="./image/img-partner-" + i + ".png"
                        alt=""
                        title=""
                        class="img_responsive partner__img"
                    )

    img(
        src="./image/img-dynamic.png"
        alt=""
        title=""
        class="partner__img-dynamic"
    )