-
    var navArr = [
        "WHO WE ARE",
        "WHAT WE DO",
        "HOW IT WORKS",
        "PORTFOLIO",
        "CLIENTS",
        "PARTNERS",
        "CONTACTS"
    ];
    var navHref = [
        "#header",
        "#services",
        "#only",
        "#insights",
        "#client",
        "#partner",
        "#contacts"
    ];


nav.nav
    -for(var i = 0, j = 1; i < navArr.length; i++, j++)
        a(
            href= navHref[i]
            title=""
            class="nav__btn"
        )
            span.nav__btn-text!= navArr[i]
            span.nav__btn-number!= "/0" + j